body {
    background-color:green;
    width:100%;
}
#main_div {
width:100%;
}
#header_div{
    background-color:grey;
    color:plum;
}
.header_div,p{
    color:black;
    font-family: 'Titillium Web', sans-serif;
    font-weight:bold;
    letter-spacing:2px;
    font-size:25px;
}
.main_div,button{
font-family: 'Courier New', Courier, monospace;
 margin: top 5px;
 letter-spacing : 3px;
width : 200px;
font-weight:bold;
}

.copyright_footer {
    position:fixed;
    bottom: 10;
    font-family: 'Titillium Web', sans-serif;
    color:aquamarine;
    font-weight:bolder;
    text-align:center;
}